* {
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

:root {
    --main-green: #2eb82e;
    --main-black: #242424;
    --border-white: #edfaff;
    --nav-color: #000000;
    --purple: rgb(201, 27, 169);
}
body {
    background-color: #0F000F;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}
.nav-link:hover {
    color: var(--purple);
}

.nav-bar {
    height: 80px;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    padding: 0 48px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}

.logo-container {
    max-height: 100%;
    display: flex;
    align-items: center;
    min-width: 80px;
}

.logo {
    max-height: 100%;
    max-width: 100%;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

.landing {
    position: relative;
    height: 100vh;
    padding-top: 80px;
}
.landing-img-container {
    background-size: cover;
    background-image: url(./assets/krzysztof-hepner-ymx8g15pxD4-unsplash.jpg);
    background-repeat: no-repeat;
    opacity: 0.64;
    box-shadow: 200px 200px 200px rgba(0, 0, 0, 1) inset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: landing-breath;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.landing-container {
    width: 100%;
    font-size: 22px;
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    padding: 30px;
    align-items: center;
    height: 100%;
}

.landing-content-container {
    flex-basis: 70%;
    height: 100%;
}

.landing-icon-container {
    flex-basis: 40%;
    height: 100%;
}

.landing-title-container {
    width: 100%;
}
.landing-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.landing-icon {
    width: 360px;
    max-width: 70%;
    min-width: 80px;
}

.landing-text {
    min-width: 24px;
}

.landing-title {
    font-size: 10vw;
}

.landing-register-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.landing-register-link {
    width: 200px;
    height: 60px;
    background-color: white;
    text-decoration: none;
}

.landing-register-btn {
    width: 200px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all 0.1s;
}
.landing-register-btn:hover {
    color: white;
    background-color: var(--purple);
    transform: translate(2.4px, -2.4px);
    border-radius: 2px;
}

.hamburger-container {
    display: none;
}
.close-hamburger-btn{
    display: none;
}
main{
    
    background-color: #0F000F;
}
footer{
    background-color: #0F000F;
    color: white;
    text-align: center;
    padding-bottom: 36px;
    font-size: 16px;
}
.about{
    color:white;
    width: 100%;
}

.about-container{
    padding: 48px;
}

.about-container h2 {

    font-family: "SF Pro Display", "Inter", system-ui, sans-serif;
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 40px;
}


.about-table{
    display: flex;
    flex-direction: row;
    border:2px solid white;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 48px;
}
.about-column{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: white;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    padding: 12px 18px 12px 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-column:last-child{
    border-width: 0;
}

.about-column p {

    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #B0C1E1;

}

.about-column li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #B0C1E1;
    list-style: none;
}
.about-column li:before {
    font-size: 1.4em;
    content: '✓';
    padding: 0 2px;

}

.number-tag {


    font-weight: 500;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    font-size: 24px;
    line-height: 32px;
    background: linear-gradient(127deg, rgba(54, 11, 189, 1) 0%, rgba(19, 12, 139, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.place-title{
    text-align:center; 
    font-size: 36px; 
    margin-top:72px; 
    margin-bottom:32px;
}

.place-content{
    text-align:center;
    font-size: 24px; 
    line-height: 24px;
}

.team{
    color:white;
}
.team-container{
    padding:48px 72px 48px 72px;
}
.team-table{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
}
.card-container{
    border:4px solid white;
    border-radius: 12px;
    flex-grow: 1;
}
.contacts-container{
    display: flex;
    flex-direction: row;

}
.contact-card{
    border-width: 2px 2px 0px 0px;
    border-color:white;
    border-style:solid;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
.person-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 12px 24px 12px;

}
.person-image-container{
    padding: 4px;
    width: 96px;
    height: 96px;
    border: 1px solid #E6EBF5;
    border-radius: 134px;
    overflow: hidden;
}
.person-info-container{
    text-align: center;
}
.person-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
    overflow: hidden;
}

.contact-image a {
    display: flex;
    align-items: center;
}

.contact-card:last-child{
    border-width: 2px 0px 0px 0px;
}
.contact-image-container{
    margin:18px 12px 18px 12px;
    width: 48px;
    height: 48px;
}

.contact-image{
    width: 100%;
    height: 100%x;

}

.mail-list{
    color:white;
    padding-top: 72px;
}

.mail-list-container{
    display: flex;
    flex-direction: row;
    padding: 36px 72px 36px 72px;
    gap:64px;
}
.mail-icon-container{
    max-width: 384px;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
}
.mail-icon{
    width: 100%;
}
.mail-list-title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.mail-form-container{
    flex-grow: 1;

}
.mail-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 32px;
    justify-content: space-around;
}
.mail-form-input-box{
    width: 100%;
}
.mail-form-title{
    text-align: center;
    font-size: 16px;
}
.mail-form-input-button{
    width: 20%;
    height: 54px;
    border-radius: 999px;
    min-width: 160px;
}
.mail-form-input-box{
    height: 64px;
    border-radius: 24px;
    padding-left: 24px;
    font-size: 18px;
}
.input-button-container{
    display: flex;
    justify-content: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-img-container{
    width: 300px;
    margin:48px 0px 12px 0px;
}

.faq{
    padding-top:80px;
    color: white;
}

.faq-container{
    width: 100%;
    padding:36px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.faq-accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #310031;
}
.faq-seperator{
    width: 100%;
    height: 0px;
    border-style: solid;
    border-color: white;
    border-width: 2px 0px 0px 0px;
}
.faq-card{
    overflow: hidden;
}
.faq-q{
    background-color: #310031;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    height: max-content;
}

.faq-a{
    background-color: #6b163c;
    max-height: 0px;
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.6,0.6,0,1);
    transition-duration: 0.6s;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    
}
.answer-open{
    max-height: 120px;
}

.program{
    padding-top:80px;
    color: white;
}
.program-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.program-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slot-details{
    display: flex;
}
.slot-detail-element{
    display: flex;
}
.profile-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
    overflow: hidden;
}
.profile{
    padding: 4px;
    width: 96px;
    height: 96px;
    border: 1px solid #E6EBF5;
    border-radius: 134px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes landing-breath {
    0% {
        box-shadow: 0 0 300px rgba(0, 0, 0, 1) inset;
    }
    50% {
        box-shadow: 0 0 300px rgba(0, 0, 0, 0.2) inset;
    }
    100% {
        box-shadow: 0 0 300px rgba(0, 0, 0, 1) inset;
    }
}

@media screen and (max-width: 991px) {
    .faq-container{
        padding: 30px;
    }
    .faq-q{
        font-size: 15px;
    }
    .faq-a{
        font-size: 11px;
    }
    .answer-open{
        max-height: 150px;
    }
    .team-table{
        flex-direction: row;
        gap: 72px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .person-container{
        min-width: 240px;
    }
    .person-image-container{
        width: 128px;
        height: 128px;
    }
    .mail-form-title{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 767px) {
    footer{
        font-size: 12px;
    }
    .faq-container{
        padding:24px;
    }
    .faq-q{
        font-size: 15px;
    }
    .faq-a{
        font-size: 11px;
    }
    .answer-open{
        max-height: 160px;
    }
    .card-container{
        max-width: 240px;
    }
    .about-table{
        flex-direction: column;
    }
    .about-column{
        border-width: 0px 0px 2px 0px;
    }
    .landing-text {
        font-size: 16px;
    }
    .landing-title {
        font-size: 72px;
    }
    .landing-container {
        flex-direction: column;
    }

    .landing-icon-container {
        display: none;
    }
    .landing-icon {
        max-height: 100%;
    }

    .nav-buttons-container {
        padding: 0;
        margin: 0;
        top:0;
        position: fixed;
        flex-direction: column;
        justify-content: start;
        width: 50vw;
        right: 0;
        height: 100vh;
        background-color: #242424;
        gap: 16px;
        overflow: hidden;
        transition: 0.2s;
    }

    .landing-register-container {
        margin-top: 96px;
    }

    .nav-bar {
        padding-right: 0;
    }
    .closed {
        width: 0;
    }
    .hamburger-container {
        display: flex;
        height: 100%;
        width: 32px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .hamburger-menu-icon {
        width: 32px;
    }
    .hamburger-menu-x{
        width: 32px;
    }
    .landing-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .close-hamburger-container {
        font-size: 24px;
        font-weight: 800;
        display: flex;
        width: 100%;
        height: 80px;
        padding-right: 40px;
        align-items: center;
        justify-content: end;
        color: rgb(255, 255, 255);
    }
    .close-hamburger-btn {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-container{
        padding-right: 40px;
    }
}

@media screen and (max-width: 479px) {
    .faq-container{
        padding:16px;
    }
    .faq-q{
        font-size: 14px;
    }
    .faq-a{
        font-size: 10px;
    }
    .answer-open{
        max-height: 180px;
    }
    .landing-title {
        font-size: 42px;
    }
    .landing-container {
        padding: 8px;
        text-align: center;
    }
    .landing-text {
        margin-top: 42px;
    }

    .landing-register-container {
        margin-top: 32px;
    }
    .person-image-container{
        width: 84px;
        height: 84px;
    }
    .person-container{
        min-width: 180px;
    }
}


