* {
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

:root {
    --main-green: #2eb82e;
    --main-black: #242424;
    --border-white: #edfaff;
    --nav-color: #000000;
    --purple: rgb(201, 27, 169);
}
body {
    background-color: var(--main-black);
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}
.nav-link:hover {
    color: var(--purple);
}

.nav-bar {
    height: 80px;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    padding: 0 48px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.nav-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}

.logo-container {
    max-height: 100%;
    display: flex;
    align-items: center;
    min-width: 80px;
}

.logo {
    max-height: 100%;
    max-width: 100%;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

.landing {
    position: relative;
    height: 100vh;
    padding-top: 80px;
}
.landing-img-container {
    background-size: cover;
    background-image: url(./assets/krzysztof-hepner-ymx8g15pxD4-unsplash.jpg);
    background-repeat: no-repeat;
    opacity: 0.64;
    box-shadow: 200px 200px 200px rgba(0, 0, 0, 1) inset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: landing-breath;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.landing-container {
    width: 100%;
    font-size: 22px;
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    padding: 30px;
    align-items: center;
    height: 100%;
}

.landing-content-container {
    flex-basis: 70%;
    height: 100%;
}

.landing-icon-container {
    flex-basis: 40%;
    height: 100%;
}

.landing-title-container {
    width: 100%;
}
.landing-icon-container {
    /* padding: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.landing-icon {
    width: 360px;
    max-width: 70%;
    min-width: 80px;
}

.landing-text {
    min-width: 24px;
}

.landing-title {
    font-size: 10vw;
}

.landing-register-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.landing-register-link {
    width: 200px;
    height: 60px;
    background-color: white;
    text-decoration: none;
}

.landing-register-btn {
    width: 200px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all 0.1s;
}
.landing-register-btn:hover {
    color: white;
    background-color: var(--purple);
    transform: translate(2.4px, -2.4px);
    border-radius: 2px;
}

.hamburger-container {
    display: none;
}
.close-hamburger-btn{
    display: none;
}
main{
    background-image: linear-gradient(115deg, rgb(10, 0, 12) 10%, rgb(16, 0, 9) 90%);
    min-height: 100vh;
}

@keyframes landing-breath {
    0% {
        box-shadow: 0 0 300px rgba(0, 0, 0, 1) inset;
    }
    50% {
        box-shadow: 0 0 300px rgba(0, 0, 0, 0.2) inset;
    }
    100% {
        box-shadow: 0 0 300px rgba(0, 0, 0, 1) inset;
    }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
    .landing-text {
        font-size: 16px;
    }
    .landing-title {
        font-size: 72px;
    }
    .landing-container {
        flex-direction: column;
    }

    .landing-icon-container {
        display: none;
    }
    .landing-icon {
        max-height: 100%;
    }

    .nav-buttons-container {
        padding: 0;
        margin: 0;
        top:0;
        position: fixed;
        flex-direction: column;
        justify-content: start;
        width: 50vw;
        right: 0;
        height: 100vh;
        background-color: #242424;
        gap: 16px;
        overflow: hidden;
        transition: 0.2s;
    }

    .landing-register-container {
        margin-top: 96px;
    }

    .nav-bar {
        padding-right: 0;
    }
    .closed {
        width: 0;
    }
    .hamburger-container {
        display: flex;
        height: 100%;
        width: 32px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .hamburger-menu-icon {
        width: 32px;
    }
    .hamburger-menu-x{
        width: 32px;
    }
    .landing-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .close-hamburger-container {
        font-size: 24px;
        font-weight: 800;
        display: flex;
        width: 100%;
        height: 80px;
        padding-right: 40px;
        align-items: center;
        justify-content: end;
        color: rgb(255, 255, 255);
    }
    .close-hamburger-btn {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-container{
        padding-right: 40px;
    }
}

@media screen and (max-width: 479px) {
    .landing-title {
        font-size: 42px;
    }
    .landing-container {
        padding: 8px;
        text-align: center;
    }
    .landing-text {
        margin-top: 42px;
    }

    .landing-register-container {
        margin-top: 32px;
    }
}


